<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post list</title>
</head>
<body>
    <!-- show current login -->
    <div>
        <span>current user:&nbsp</span>
        <span>{{ current_login }}</span>
    </div>
    <!-- create post -->
    <div>
        <h1>Create Post</h1>
        <form method="post" action="/demo/blog/create_post">
            <input type="text" name="title" placeholder="Title"><br>
            <textarea name="content" placeholder="Content"></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- post list  -->
    <h1>Post List</h1>
    <ul>
        {% for post in post_list %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p>Posted by: id: {{ post.uid }},&nbsp name: {{ post.uname }}</p>
                <p>Created at: {{ post.created_time }}</p>
                <form method="post" action="/demo/blog/create_comment/{{ post.id }}">
                    <textarea name="comment_content" placeholder="Add a comment"></textarea>
                    <button type="submit">Submit Comment</button>
                </form>
                <ul>
                    <!-- post.comments , this is defined in Comment in "related_name='comments'"   -->
                    {% for comment in post.comments.all %}
                        <!-- if the comment is a comment, then comment.parent_comment=NULL -->
                        <!-- if the comment is a reply, then comment.parent_comment = comment.id-->
                        {% if not comment.parent_comment %}
                          <li>
                            <span>{{ comment.content }}</span>&nbsp
                            <span>id: {{ comment.uid }},&nbsp name: {{ comment.uname }}</span>
                            <form method="post" action="/demo/blog/create_reply/{{ post.id }}/{{ comment.id }}">
                                <textarea name="content" placeholder="Reply to this comment"></textarea>
                                <button type="submit">Submit Reply</button>
                            </form>
                            <ul>
                                {% for reply in comment.replies.all %}
                                    <li>
                                        <p>{{ reply.content }}</p>
                                       <span>id: {{ reply.uid }},&nbsp name: {{ reply.uname }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                          </li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
