<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is for testing the Template</title>
</head>
<body>

<h1>this is for testing getting a html file from bookmanager/templates folder</h1>
{#<h3>username: {{ username }}<h3/>#}
{#<h3>age: {{ age }}<h3/>#}

<!--    |add:"1000"    加 1000    -->
<h3>int :  {{ int|add:"1000" }}</h3>
<!--使用 dj 提供的 filter  upper： 全部大写  http://localhost:8000/test_templates_html-->
<h3>str :  {{ str|upper }}</h3>
<h3>list :  {{ lst }}</h3>
<h3>list[0] :  {{ lst.0 }}</h3>
<h3>dict :  {{ dict }}</h3>
<h3>dict["a"] :  {{ dict.a }}</h3>
<h3>function :  {{ func }}</h3>
<h3>class_obj.method :  {{ class_obj.say }}</h3>
<!--dj会把 html自动变成 string（你发一个文章， 里面的js代码不希望被执行）    执行这个代码： 使用safe, 告诉dj 这个代码是 安全的，直接执行就行-->
<!--<h3>script :  {{ script|safe }}</h3>-->
<h3>script :  {{ script }}</h3>


</body>
</html>
