<!--

从 阿里云 mysql 数据库上面 把 数据查出来， 然后放在 列表里

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <style>
        .book_table, tr, td {
             border: 1px solid;
             /*border-collapse: collapse;*/
        }

    </style>
</head>
<body>

<!--用 table 把 所有的 books -->
<table class="book_table">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>info</th>
        <th>price</th>
        <th>market_price</th>
        <th>publication</th>
    </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.info }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.market_price }}</td>
            <td>{{ book.pub }}</td>
            <td>
                <!--那么这边的 链接如何写呢，发给 view 函数， view 函数的 GET 来处理-->
                <!-- 这里面写 绝对路径  , 下面是 两种 传递 book_id 的方法-->
                <a href="/bookstore/update_book/{{ book.id }}">update</a>
                <a href="/bookstore/delete_book?book_id={{ book.id }}">delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
