<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regist</title>
</head>

<style>
    table, tr, th, td {
        border: 1px solid pink;
         border-collapse: collapse;
    }
    table tr td {
        text-align: center;
    }
</style>
<body>
    <form action="/user/reg" method="post">
        <table>
            <tr>
                <th>section</th>
                <th>value</th>
            </tr>
            <tr>
                <td>
                    username
                </td>
                <td>
                    <input type="text" name="username" value="{{ username }}">
                </td>
            </tr>

            <tr>
                <td>
                    pwd
                </td>
                <td>
                    <input type="text" name="password1" value="{{ pwd1 }}">
                </td>
            </tr>

            <tr>
                <td>
                    pwd repeat
                </td>
                <td>
                    <input type="text" name="password2" value="{{ pwd2 }}">
                </td>
            </tr>

            <tr>
                <td>
                    submit
                </td>
                <td>
                    <input type="submit" name="submit">
                </td>
            </tr>
        </table>
    </form>
    <div>
        <p style="color: red">
            {{ warn }}
        </p>
    </div>
</body>
</html>
